---

---

<aside
  id="menu"
  class="w-dvw h-dvh fixed -right-full bg-dark transform duration-500 ease-out z-10"
>
  <nav class="w-full h-full grid grid-cols-1 grid-rows-[1fr_240px] pt-20 px-8">
    <ul class="flex flex-col justify-center items-center gap-4 text-light">
      <li>APP</li>
      <li>BENEFITS</li>
      <li>HOW IT WORKS</li>
      <li>BLOG</li>
    </ul>
    <div class="flex flex-col justify-start items-center gap-6">
      <button class="w-full h-16 bg-blue-700 text-light rounded-md"
        >SIGN UP</button
      >
      <ul class="w-full flex justify-center items-center gap-10">
        <li class="w-6 h-6">
          <img
            src="/assets/icons/instagram.png"
            class="w-full h-full object-contain"
            alt="instagram-logo"
          />
        </li>
        <li class="w-6 h-6">
          <img
            src="/assets/icons/tiktok.png"
            class="w-full h-full object-contain"
            alt="tiktok-logo"
          />
        </li>
        <li class="w-6 h-6">
          <img
            src="/assets/icons/x.png"
            class="w-full h-full object-contain"
            alt="x-logo"
          />
        </li>
      </ul>
    </div>
  </nav>
</aside>
