---

---

<section id="about" class="w-dvw grid grid-cols-1 grid-flow-row gap-10 py-24">
  <h2 class="text-assent-orange font-extrabold text-2xl text-center">
    SHOP YOUR WAY.
    <br />
    GROW YOUR BUSINESS.
    <br />
    MEET YOUR NEW CANNABIS
    <br />
    WINGMAN.
  </h2>
  <p class="text-muted-purple text-center text-sm">
    We partner with the best local dispensaries to offer better, smarter access
    to cannabis. And a lot more revenue for dispensaries.
  </p>
  <div class="relative h-[367px] grid place-content-center mt-32">
    <div class="absolute left-8 -top-8 w-[92px] h-[92px]">
      <img
        src="./assets/about/s1.webp"
        class="w-full h-full object-cover rounded-full"
        alt="about source 1"
      />
    </div>
    <img
      src="./assets/about/s2.avif"
      class="w-[367px] h-[367px] object-cover rounded-full"
      alt="about source 2"
    />
    <div class="absolute left-8 -bottom-22 w-[161px] h-[161px]">
      <img
        src="./assets/about/s3.avif"
        class="w-full h-full object-cover rounded-full"
        alt="about source 3"
      />
    </div>
    <div class="absolute right-8 -bottom-24 w-[92px] h-[92px]">
      <img
        src="./assets/about/s4.avif"
        class="w-full h-full object-cover rounded-full"
        alt="about source 4"
      />
    </div>
  </div>
</section>
