---
import HeroGalery from "@/components/ui/HeroGalery.astro";
---

<section id="hero" class="relative w-dvw h-dvh sm:h-[400dvh]">
  <HeroGalery />
  <div
    class="absolute bottom-0 w-full h-12 bg-dark"
    style="clip-path: polygon(50% 0%, 0% 100%, 100% 100%);"
  >
  </div>
</section>
