---
import StepOne from "@/components/ui/StepOne.astro";
import StepThree from "@/components/ui/StepThree.astro";
import StepTwo from "@/components/ui/StepTwo.astro";
---

<section id="steps" class="w-dvw py-48">
  <StepOne />
  <StepTwo />
  <StepThree />
</section>
