---
import WhatIsHero from "../ui/WhatIsHero.astro";
---

<section id="what-is" class="w-dvw">
  <WhatIsHero />
  <article class="bg-light">
    <header class="h-60 flex flex-col justify-evenly p-6">
      <p class="text-dark font-bold text-2xl">
        A customized product
        <br />
        selection
      </p>
      <p class="text-sm">
        finally allows users to purchase from ther local
        <br />
        dispensary - but the value add doesn't end there.
      </p>
    </header>
    <ul class="relative w-[367px] h-[368px] mx-auto">
      <li class="absolute left-10 top-0 w-34 h-34 rounded-full overflow-hidden">
        <img
          src="./assets/what-is/asian-girl.avif"
          class="w-full h-full object-cover"
          alt="asian girl"
        />
      </li>
      <li class="absolute left-3 top-24 w-22 h-22 rounded-full overflow-hidden">
        <img
          src="./assets/what-is/plant-circle.webp"
          class="w-full h-full object-cover"
          alt="plant"
        />
      </li>
      <li
        class="absolute left-24 top-24 w-64 h-64 rounded-full overflow-hidden"
      >
        <img
          src="./assets/what-is/products.avif"
          class="w-full h-full object-cover"
          alt="products"
        />
      </li>
    </ul>
    <h2 class="text-dark text-2xl font-bold mt-14 mb-6 px-6">
      <span class="text-4xl">XSHACK</span> is a trusted one-stop-shop for all cannabis-related
      activities for users and dispensaries alike.
    </h2>
    <p class="text-sm mb-14 px-6">
      From recreational to medical, we make it easy to <br /> access cannabis and
      find the heigh life you're <br /> searching for.
    </p>
    <div class="w-[360px] h-lvh rounded-lg mx-auto overflow-hidden">
      <img
        src="./assets/what-is/app.avif"
        class="w-full h-full object-cover"
        alt="xshack app"
      />
    </div>
    <h2 class="text-dark text-2xl font-bold mt-16 mb-6 px-6">
      We add value to the <br />marijuana journey from <br /> the very first trip.
    </h2>
    <p class="text-sm mb-14 px-6">
      Whether you're new to cannabis or an experienced <br /> user, our app offers
      a range of benefits for everyone: <br /> from personalized shopping and real-time
      navigation, <br /> to supply updates and loyality programs.
    </p>
    <ul class="relative w-[367px] h-[430px]">
      <li
        class="absolute left-[calc(50%-40px)] -translate-x-1/2 top-1 w-22 h-22 rounded-full overflow-hidden"
      >
        <img
          src="./assets/what-is/afroamerican-girl.webp"
          class="w-full h-full object-cover"
          alt="afroamerican girl"
        />
      </li>
      <li
        class="absolute left-[calc(50%+20px)] -translate-x-1/2 top-18 w-34 h-34 rounded-full overflow-hidden"
      >
        <img
          src="./assets/what-is/night-plant.webp"
          class="w-full h-full object-cover"
          alt="afroamerican girl"
        />
      </li>
      <li
        class="absolute left-1/2 -translate-x-1/2 top-46 w-60 h-60 overflow-hidden"
      >
        <img
          src="./assets/what-is/phone.webp"
          class="w-full h-full object-contain"
          alt="phone"
        />
      </li>
    </ul>
    <article
      class="relative w-lvw h-lvh flex flex-col justify-end items-center gap-10 pb-14 mt-20"
    >
      <h2 class="text-light text-2xl text-center font-extrabold z-1">
        WITH XSHACK, YOU NEVER <br /> HAVE TO WORRY ABOUT <br /> HAVING A BAD TRIP.
      </h2>
      <div class="w-full h-16 flex justify-center items-center z-1">
        <button
          class="grid place-content-center bg-light text-dark! font-bold text-[14px] h-full rounded-md px-10"
          >DOWNLOAD NOW</button
        >
      </div>
      <img
        src="./assets/what-is/girl-smoking.avif"
        class="absolute left-0 top-0 h-full object-cover"
        alt="girl smoking"
      />
    </article>
  </article>
</section>
