---
import WhatIsHero from "../ui/WhatIsHero.astro";
---

<section id="what-is" class="w-dvw">
  <WhatIsHero />
  <div class="bg-light">
    <div class="h-60 flex flex-col justify-evenly p-6">
      <p class="text-dark font-bold text-2xl">
        A customized product
        <br />
        selection
      </p>
      <p class="text-sm">
        finally allows users to purchase from ther local
        <br />
        dispensary - but the value add doesn't end there.
      </p>
    </div>
  </div>
</section>
