---
import Navbar from "@/components/layout/Navbar.astro";
import Menu from "@/components/ui/Menu.astro";
import Footer from "@/components/layout/Footer.astro";
import "@/styles/global.css";

const description =
  "XShack connects cannabis consumers with top local dispensaries through personalized shopping, real-time navigation, and exclusive rewards. Discover products, track preferences, and elevate your cannabis experience—all in one smart platform.";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/Fav.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <title>XSHACK - An Elevated Cannabis Experience</title>
  </head>
  <body class="bg-dark">
    <Navbar />
    <Menu />
    <main>
      <slot />
    </main>
    <Footer />
    <div
      id="loader"
      class="absolute inset-0 bg-dark duration-300 ease-in-out z-50"
    >
    </div>
  </body>
</html>
