---
import Navbar from "@/components/layout/Navbar.astro";
import Menu from "@/components/ui/Menu.astro";
import Footer from "@/components/layout/Footer.astro";
import "@/styles/global.css";

const description =
  "Descubre propiedades de lujo exclusivas con acabados de primera y ubicaciones privilegiadas. Encuentra la casa, departamento o penthouse ideal que combina diseño, confort y estilo de vida único.";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/cima_light_bg.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <title>CIMA</title>
  </head>
  <body class="bg-light">
    <Navbar />
    <Menu />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
